body.not-frontpage.path-contact {
  & #page > main > div.layout-content {
  	margin: 0 auto;
  	max-width: var(--max-para-width);
  	text-align: center;
    & #block-misfitsv4-misfitsv3-system-main {
      min-height: 640px;
    }
  }
  & h1 {
    padding-top: 0.5rem;
  }
}
