div.is_front {
  width: 100%;
  & .views-element-container > div {
      margin: 1rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
      max-height: 70%;
      display: grid;
      grid-template-rows: auto;
      grid-gap: 0.5rem;
      align-items: center;
      justify-items: left;
      grid-template-columns: 20% 1fr 40px;
      grid-template-areas:
        "logo content . "
        ".    content . "
        ".    .       . ";
    }
    & header {
        grid-area: logo;
        & > img {
            max-height: 60vh;
        }
    }
    /* & main {
      position: relative;
      height: 90vh;
    }
    & .layout-content {
      position: absolute;
      top: 0;
      left: 0;
    } */
    & .front_page_content {
          grid-area: content;
      }
    & .front-row {
        display: flex;
        padding-left: 2rem;
        padding-top: 1rem;
    }
    & .front-row h3 {
        font-family: stamPeteRegular;
        color: var(--misfits-logo-blue);
        margin-top: 0;
    }
    & .front-text {
      flex: 1;
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img  {
      width: 0;
    }
    & .front-text > h3 {
        padding-left: 2rem;
    }
    & .front-row video,
    & .front-text > p,
    & .front-media img {
        display: none;
    }
  }
  @media screen and (--exceeds-Nokia-Lumia-520-landscape-height) {
    div.is_front {
      & .views-element-container > div {
          margin: 2rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
        }
      }
  }
  /* @media screen and (--exceeds-iPhone-6s-Landscape-height) {
    div.is_front {
      & .views-element-container > div {
          margin: 6rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
        }
      }
  } */
@media screen and (--exceeds-iPhone-6s-Landscape-width) and (--sufficient-front-row-height)  {
  div.is_front {
    & .front-row {
        height: var(--front-row-height);
        max-width: 50rem;
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img ,
    & .front-media {
      width: 220px;
    }
    & .front-text > p {
        padding-left: 2rem;
        display: block;
        overflow: hidden;
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img {
        display: block;
        width: 220px;
    }
  }
}
