div.is_not_front {
  width: 100%;
  & #page > main {
    max-width: var(--container-max-width-lg);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    & > .layout-content {
      max-width: 40rem;
      flex-grow: 4;
    }
    & > aside {
      width: 128px;
      flex-grow: 1;
      padding-left: 1rem;
    }
  }
}

div.is_not_front #page {
  & > main {
    padding-top: 0.5rem;
    & > .layout-content {
      padding: 0 0.5rem;
    }
  }
  & > footer > .region_footer {
    padding: 0.5rem 0;
  }
}

@media screen and (--exceeds-Nokia-Lumia-520-portrait-width) {
  div.is_not_front #page {
    & > main,  & > footer {
      padding-top: 2rem;
      & > .layout-content {
        padding: 0;
      }
    }
  }
}
