div.is_not_front {
  width: 100%;
  & main {
    max-width: var(--container-max-width-lg);
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    justify-items: left;
    grid-template-columns: auto 1fr 12rem;
    grid-template-areas:
      "content . sidebar";
    & .layout-content {
      grid-area: content;
    }
    & aside {
      grid-area: sidebar;
    }
  }
}
