body.path-frontpage {
  & .views-element-container > div {
    display: grid;
    grid-template-columns: 1fr 120px minmax(600, auto) 1fr;
    grid-template-rows: 2vh 600px;
    grid-template-areas:
    ".  .    .        ."
    ".  logo content  .";
  }
}

body.not-frontpage.path-events-page {
  & .views-element-container > div {
    display: grid;
    grid-template-columns: 1fr 120px minmax(600, auto) 1fr;
    grid-template-areas:
    ".    .         ."
    ".    content   ."
    ".    pager     .";
  }
}

body.path-frontpage,
body.not-frontpage.path-events-page .layout-content {
    & header {
        grid-area: logo;
        & > img {
            max-height: 55vh;
        }
    }
    & .front_page_content,
    & .events_page_content {
          grid-area: content;
      }
    & .front-row {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    & .front-row h3 {
        /* font-family: stamPeteRegular; */
        margin-top: 0;
        font-family: var(--headings-font-family);
        font-weight: var(--headings-font-weight);
        line-height: var(--headings-line-height);
        & > a {
          color: var(--misfits-logo-blue);
        }
    }
    & .front-text {
      flex: 1;
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img  {
      width: 0;
    }
    & .front-text > h3 {
        padding-left: 2rem;
    }
    & .front-row video,
    & .front-text > p,
    & .front-media img {
        display: none;
    }
  }
body.not-frontpage.path-events-page .layout-content  {
  & .events_page_content {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--colour-misfits-light-grey);
  }
  & .front-row {
    border-top: 1px solid var(--colour-misfits-light-grey);
  }
  & nav.pager {
    margin: 2rem auto 0 auto;
    grid-area: pager;
    & ul {
      list-style: none;
      display: flex;
      & > li.pager__item {
        display: block;
        width: auto;
        padding-right: 0.25rem;
        }
      }
      & > li.pager__item.is-active > a {
        color: var(--colour-misfits-dark-grey);
      }
    }
  }


@media screen and (--exceeds-Nokia-Lumia-520-landscape-height) {
  div.is_front, body.not-frontpage.path-events-page .layout-content {
    & .views-element-container > div {
        margin: 2rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
      }
    }
}
@media screen and (--exceeds-iPhone-6-Plus-Landscape-height) {
  div.is_front, body.not-frontpage.path-events-page .layout-content {
    & .views-element-container > div {
        margin: 4rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
      }
    }
}
@media screen and (--exceeds-iPhone-6s-Landscape-width) and (--sufficient-front-row-height)  {
  div.is_front {
    & .views-element-container > div {
      margin: 2rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
    }
    & .front-row {
        padding-left: 2rem;
        height: var(--front-row-height);
        max-width: 70rem;
        & > a > img {
          height: 100%;
          width: auto;
        }
    }
    & .front-text > p {
        padding: 0 1.5rem;
        display: block;
        overflow: hidden;
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img {
        display: block;
        width: 220px;
        height: 124px;
        margin: auto 0;;
    }
  }
}
@media screen and (--exceeds-Nokia-Lumia-520-portrait-width) {
  body.not-frontpage.path-events-page .layout-content {
    &  li.pager__item::after {
        color: var(--colour-misfits-blue);
        content: " : ";
      }
  }
}
@media screen and (--exceeds-iPhone-6s-Landscape-width) {
  body.not-frontpage.path-events-page .layout-content {
    & .front-row {
      height: var(--events-row-height);
      & .front-text > p {
          padding: 0 1.5rem;
          display: block;
          overflow: hidden;
      }
    }
  }
}
@media screen and (--exceeds-iPad-Landscape-width) {
  body.not-frontpage.path-events-page .layout-content {
    & .front-row {
      & .front-media.thumbscrubber,
      & .front-row video,
      & .front-media img {
          display: block;
          width: 220px;
          height: 124px;
          margin: auto 0;;
      }
    }
  }
}
