/* Misfits main region wrappers */
#page {
  & > header,
  & .primary_menu_wrapper,
  & > main,
  & > footer {
    width: 100%;
  }
}

/* Misfits region contents  */
#page {
  & > header .social-icons,
  & > .primary_menu_wrapper > .region_primary_menu,
  & > main > .layout-content,
  & > footer > .region_footer {
    max-width: var(--container-max-width-lg);
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  & > footer {
    background-color: var(--colour-misfits-lightest-grey);
    border-top: 1px solid var(--colour-misfits-light-grey);
    & > .region_footer {
      margin: 0.5rem;
      text-align: center;
    }
  }
}

.embedded-entity.align-left {
  padding-right:1rem;
}

.embedded-entity.align-right {
  padding-left:1rem;
}

.embedded-entity.align-center {
  padding-left:1rem;
  padding-right:1rem;
}
