body.not-frontpage.path-events-page {
  & .views-element-container > div {
    display: grid;
    grid-template-columns: 1fr 120px minmax(600, auto) 1fr;
    grid-template-areas:
    ".    content   ."
    ".    pager     .";
  }
}

body.not-frontpage.path-events-page .layout-content {
  & h1 {
    text-align: center;
    padding-top: 0.5rem;
  }
  & .events_page_content {
      grid-area: content;
      margin: 0.5rem;
  }
  & .front-row {
      display: flex;
      padding-top: 0;
      padding-bottom: 1rem;
      border-top: 1px solid var(--colour-misfits-light-grey);
  }
  & .front-row h3 {
      /* font-family: stamPeteRegular; */
      margin-top: 0;
      font-family: var(--headings-font-family);
      font-weight: var(--headings-font-weight);
      line-height: var(--headings-line-height);
      & > a {
        color: var(--misfits-logo-blue);
      }
  }
  & .front-media.thumbscrubber,
  & .front-row video,
  & .front-media img,
  & .front-poster-image  {
    width: 0;
  }
  & .front-text {
    flex: 1;
    margin: auto 0.5rem;
    max-width: 40rem;
  }
  & .front-row video,
  & .front-text > p,
  & .front-media img,
  & .front-poster-image {
      display: none;
  }
  & .events_page_content {
    padding-bottom: 2rem;
    /* border-bottom: 1px solid var(--colour-misfits-light-grey); */
  }
}

@media screen and (--exceeds-Nokia-Lumia-520-portrait-width) {
  body.not-frontpage.path-events-page .layout-content {
    & .front-text > p {
        /* padding: 0 1.5rem; */
        display: block;
        overflow: hidden;
    }
    & .front-text > h3 {
        padding-left: 2rem;
        margin: 0;
    }
  }
}

@media screen and (--exceeds-iPhone-6s-Landscape-width) {
  body.not-frontpage.path-events-page .layout-content {
    & .front-row {
      height: var(--events-row-height);
      & .front-poster-image {
        display: block;
        width: auto;
        margin: auto 0;
      }
      & .front-text > p {
          padding: 0 1.5rem;
          display: block;
          overflow: hidden;
      }

    }
  }
}
@media screen and (--exceeds-iPad-Portrait-width) {
  body.not-frontpage.path-events-page .layout-content {
    & .front-row {
      & .front-media.thumbscrubber,
      & video,
      & .front-media.thumbscrubber img {
          display: block;
          width: 220px;
          height: 124px;
          margin: auto 0;;
      }
    }
  }
}
