:root {
  /* TODO: Iain: Harmonise with Shoelace*/
  --colour-misfits-blue: #00aeef;
  --colour-misfits-lighter-blue: #99e4ff;
  --colour-misfits-darker-blue: rgb(0, 137, 188);
  --colour-misfits-darker-grey: #404040;
  --colour-misfits-dark-grey: Gray;
  --colour-misfits-grey: #58585A;
  --colour-misfits-mid-grey: #686868;
  --colour-misfits-light-grey: lightgrey;
  --colour-misfits-lightest-grey: Whitesmoke; /* rgb(245,245,245 */
  --colour-misfits-lightest-grey-transparent:rgba(245,245,245, 0.9);
  --body-color: var(--colour-misfits-grey);


  --misfits-logo-grey: rgb(88, 88, 90);
  --misfits-light-grey: rgb(230, 230, 230);
  --misfits-light-grey-transparent: rgba(230, 230, 230, 0.85);
  --misfits-logo-blue: var(--colour-misfits-darker-blue);

  --layout-container-top-margin: 4rem;
  --layout-container-bottom-margin: 4rem;
  --content-width: 60rem;
  --max-para-width: 40rem;
  --front-row-height: 180px;
  --front-row-img-width: 220px;

  --total_animation_time: 20s;

  --front-views-element-container-top-margin: 4rem;
  --front-views-element-container-bottom-margin: 4rem;

  --menu-font-family: stamPeteRegular;
  --button-font-family: stamPeteRegular;
  --menu-font-weight: var(--font-weight-light);
  --menu-line-height: 1;
  --menu-margin-bottom: .5rem;
  --menu-color: var(--colour-misfits-blue);
  --button-color: var(--colour-misfits-lightest-grey);
  --button-active-colour: var(--colour-misfits-lighter-blue);
  --button-bg-color-primary: var(--colour-misfits-blue);
  --menu-font-size: 1.25rem;

  --link-color: var(  --colour-misfits-blue);

  --headings-font-family: stamPeteRegular;

  --container-max-width-xxxs: 200px;
  --container-max-width-xxs: 319px;
  --container-max-width-xs: 575px;
  --container-max-width-sm: 991px;
  --container-max-width-lg: 1199px;
  --container-max-width-xl: 1200px;
}

@custom-media --exceeds-Nokia-Lumia-520-portrait-width (min-width: 321px);
@custom-media --exceeds-Nokia-Lumia-520-landscape-height (min-height: 321px);
@custom-media --exceeds-iPad-Landscape-width (min-width: 1025px);
@custom-media --exceeds-iPad-Portrait-width (min-width: 769px);
@custom-media --triggers-horizontal-menu (min-width: 851px);
/*  If you change the breakpoint then also reconfigure responsive menu in the Drupal  */
@custom-media --within-iPad-Portrait-width (max-width: 768px);
@custom-media --exceeds-iPhone-6s-Portrait-width (min-width: 376px);
@custom-media --exceeds-iPhone-6s-Landscape-width (min-width: 668px);
@custom-media --exceeds-iPhone-6s-Landscape-height (min-height: 376px);
@custom-media --exceeds-iPhone-6-Plus-Landscape-height (min-height: 414px);
@custom-media --exceeds-Laptop-width (min-width: 1281px);
@custom-media --sufficient-front-row-height (min-height: 654px);
@custom-media --sufficient-slider-height (min-height: 1120px);
