/* Misfits main region wrappers */
#page {
  min-height: 100vh;
  position: relative;
  & > header,
  & .primary_menu_wrapper,
  & > main,
  & > footer {
    width: 100%;
  }
}

/* Misfits region contents  */
#page {
  & > header .social-icons,
  & > .primary_menu_wrapper > .region_primary_menu,
  & > main > .layout-content,
  & > footer > .region_footer {
    margin: 0 auto;
    /* padding-bottom: 1rem; */
    max-width: var(--container-max-width-lg);
  }
  & > footer {
    background-color: var(--colour-misfits-lightest-grey);
    border-top: 1px solid var(--colour-misfits-light-grey);
    padding: 1rem;
    &  > .region_footer {
      text-align: center;
    }
    & .field--name-body >p {
      font-size: smaller;
      margin: 0;
    }
  }
}

.embedded-entity.align-left {
  padding-right:1rem;
}

.embedded-entity.align-right {
  padding-left:1rem;
}

.embedded-entity.align-center {
  padding-left:1rem;
  padding-right:1rem;
}
@media screen and (--exceeds-iPhone-6s-Portrait-height) {
  #page  >footer {
    position: absolute;
    bottom: 0;
  }
}
