body.path-frontpage main {
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - (60px + 52px));
}

body.path-frontpage .views-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
  display: grid;
  grid-template-columns: 1fr 120px minmax(600, auto) 1fr;
  grid-template-areas:
  ".  logo content  .";
  }
}


body.path-frontpage {
    & #page {
      height: 100vh;
    }
    & .views-element-container header {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        & > img {
            max-height: 55vh;
        }
    }
    & .front_page_content {
          grid-area: content;
      }
    & .front-row {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    & .front-row h3 {
        margin-top: 0;
        font-family: var(--headings-font-family);
        font-weight: var(--headings-font-weight);
        line-height: var(--headings-line-height);
        & > a {
          color: var(--misfits-logo-blue);
        }
    }
    & .front-text {
      flex: 1;
      & p {
        height: 0;
      }
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img  {
      width: 0;
    }
    & .front-text > h3 {
        padding-left: 2rem;
    }
    & .front-row video,
    & .front-text > p,
    & .front-media img {
        display: none;
    }
  }

@media screen and (--exceeds-Nokia-Lumia-520-landscape-height) {
  div.is_front {
    & .views-element-container > div {
        margin: 2rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
      }
    }
}

/* @media screen and (--exceeds-iPhone-6-Plus-Landscape-height) {
  div.is_front {
    & .views-element-container > div {
        margin: 4rem 1rem var(--front-views-element-container-bottom-margin) 1rem;
      }
    }
} */

@media screen and (--exceeds-iPhone-6s-Portrait-height) {
  div.is_front {
    & #page .front-row h3 {
        padding-top: 56px;
      }
    }
  }

@media screen and (--exceeds-iPhone-6s-Landscape-width) and (--sufficient-front-row-height)  {
  div.is_front {
    /* & .views-element-container > div {
      margin: 0 1rem var(--front-views-element-container-bottom-margin) 1rem;
    } */
    & .front-row {
        padding-left: 2rem;
        height: var(--front-row-height);
        max-width: 70rem;
        & > a > img {
          height: 100%;
          width: auto;
        }
        & h3 {
          margin-top: 12px;
        }
    }
    & .front-media.thumbscrubber,
    & .front-row video,
    & .front-media img {
        display: block;
        width: 220px;
        height: 124px;
        margin: auto 0;;
    }
  }
}
