nav.pager {
  margin: 2rem auto 0 auto;
  grid-area: pager;
  & ul {
    list-style: none;
    display: flex;
    & > li.pager__item {
      display: block;
      width: auto;
      padding-right: 0.25rem;
    }
    & > li.pager__item.is-active > a {
      color: var(--colour-misfits-dark-grey);
    }
  }
}
@media screen and (--exceeds-Nokia-Lumia-520-portrait-width) {
  li.pager__item::after {
    color: var(--colour-misfits-blue);
    content: " : ";
  }
}
