button,
.button {
  letter-spacing: 2px;
  & > a {
    color: var(  --button-color);
  }
}

#block-misfitsv4-local-tasks,
#block-misfitsv4-user-login,
#block-misfitsv4-tools,
#block-misfitsv4-account-menu {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    list-style: none;
    padding: 0;
    & > li {
      padding-bottom: 0.5rem;
    }
    & > li > a {
      margin-right: 1rem;
      font-family: var(--button-font-family);
      font-size: var(--button-font-size);
      font-weight: var(--button-font-weight);
      text-align: center;
      text-decoration: none;
      color: var(--button-color);
      background-color: var(--button-bg-color-primary);
      border-radius: var(--button-border-radius);
      border: none;
      height: var(--input-height);
      line-height: 1;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      padding: calc(var(--component-spacing) * .5) calc(var(--component-spacing) * .75);
      box-shadow: var(--button-box-shadow);
      cursor: pointer;
      display: inline-block;
      transition: .1s box-shadow, .1s background-color, .1s color;
      &:hover {
        color: var(--button-active-colour);
        text-decoration: none;
      }
      &.is-active {
        color: var(--button-active-colour);
        box-shadow: var(--button-box-shadow-active);
      }
    }
  }
}

#block-misfitsv4-user-login li,
#block-misfitsv4-account-menu li {
  padding-bottom: 0.5rem;
}
