body.not-frontpage.path-node {
  width: 100%;
  & #page > main {
    & .layout-content {
      margin: 0;
      max-width: 100%;
      & .field-content.sponsor-image {
        padding-bottom: 1rem;
      }
    }
    padding-top: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    & > .layout-content {
      flex-grow: 4;
      padding: 0 0.5rem;
      & #block-misfitsv4-page-title {
        text-align: center;
      }
    }
    & div.region_content img,
    & div.region_content footer img {
      border: 1px solid var(--colour-misfits-light-grey);
      box-shadow: 3px 3px 4px 2px var(--colour-misfits-light-grey);
    }
  }
  & article.node--type-article {
    /* & article.node--type-article.node--view-mode-full { */
    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    & > div > * {
     margin: 0 0 1rem 0;
    }
    & div > div.field--name-field-photo-gallery {
      width: 100%;
    }
    & div.field--name-field-newsletter-image {
      & div.field__label {
        font-family: var(--headings-font-family);
        font-weight: var(--headings-font-weight);
        font-size: var(--headings-font-size-h4);
        line-height: var(--headings-line-height);
        color: var(--headings-color);
        margin-top: 0;
        margin-bottom: var(--headings-margin-bottom);
      }
      & div.field__item > a > img {
      display: block;
      margin: 0 auto;
      }
      & div.field__item > a > img[alt^="Default Misfits Poster image"] {
        display: none;
      }
    }
    & > footer  {
      min-height: 170px;
      padding-top: 1rem;
      border-top: 1px solid var(--colour-misfits-light-grey);
      padding-bottom: 1rem;
      /* border-bottom: 1px solid var(--colour-misfits-mid-grey); */
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  & .node--type-page .flex_embed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-left: 1px solid var(--colour-misfits-light-grey);
    border: 1px solid var(--colour-misfits-light-grey);
    & > article {
      padding: 0.5rem 0 1rem 0;
    }
  }
}
@media screen and (--exceeds-iPhone-6s-Portrait-width) {
  body.not-frontpage.path-node {
    & #page > main {
      & .layout-content {
        margin: 0 0.5rem;
        max-width: 100%;
      }
    }
    & article.node--type-article.node--view-mode-full {
      & > div > * {
       margin: 0;
      }
      & div > div.field--name-field-photo-gallery,
      & div > div.field--name-body {
        display: block;
        padding-bottom: 2rem;
      }
      & div > div.field--name-field-newsletter-image,
      & div > div.field--name-field-newsletter-image .field__item,
      & div > div.field--name-field-newsletter-image .field__item > a > not(img[alt^="Default Misfits Poster image"]) {
        width: 330px;
        height: 440px;
        margin: auto 0;
      }
    }
  }
}
@media screen and (--exceeds-iPhone-6s-Landscape-width) {
  body.not-frontpage.path-node {
    & #page > main {
      & .layout-content {
        margin: 0 0.5rem;
        max-width: 100%;
      }
    }
    & article.node--type-article.node--view-mode-full {
      & > div > * {
       margin: 1rem;
      }
      & div > div.field--name-field-photo-gallery,
      & div > div.field--name-body {
        display: block;
        /* width: 90%; */
        max-width: 45rem;
        padding-bottom: 2rem;
      }
    }
  }
  body.not-frontpage.path-node.node--type-page {
    & #page > main {
      & .layout-content {
        max-width: 45rem;
        /* min-height: 50vh; */
        padding-bottom: 2rem;
        margin: 0 auto;
        & .field-content.sponsor-image {
          width: 330px;
          float: left;
          margin: 0 0.5rem 0 0;
        }
        & .views-row {
          padding-bottom: 2rem;
        }
      }
    }
  }
}
