body.not-frontpage.path-node {
  width: 100%;
  & #page > main {
    max-width: var(--container-max-width-xl);
    padding-top: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    & > .layout-content {
      width: 70%;
      min-width: var(--container-max-width-xxs);
      max-width: var(--container-max-width-xs);
      flex-grow: 4;
      padding: 0 0.5rem;
    }
    & div.region_content img,
    & div.region_content footer img {
      border: 1px solid var(--colour-misfits-light-grey);
      box-shadow: 3px 3px 4px 2px var(--colour-misfits-light-grey);
    }
  }
  & article.node--type-article.node--view-mode-full {
    & div.field--name-field-newsletter-image {
      & div.field__label {
        font-family: var(--headings-font-family);
        font-weight: var(--headings-font-weight);
        font-size: var(--headings-font-size-h4);
        line-height: var(--headings-line-height);
        color: var(--headings-color);
        margin-top: 0;
        margin-bottom: var(--headings-margin-bottom);
      }
      & div.field__item > a > img {
      display: block;
      margin: 0 auto;
      }
      & div.field__item > a > img[alt^="Default Misfits Poster image"] {
        display: none;
      }
    }
    & > footer  {
      padding-top: 1rem;
      border-top: 1px solid var(--colour-misfits-light-grey);
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--colour-misfits-mid-grey);
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
