div#block-searchform {
  background-color: var(--colour-misfits-lightest-grey-transparent);
  padding-top: 8px;
  max-width: 55%;
  & form {
    display: flex;
    background-color: var(--colour-misfits-lightest-grey-transparent);
  }
  & #edit-keys {
    margin: 1px;
  }
  & #edit-actions {
    padding-left: 0.5rem;
  }
  & .button.form-submit {
    display: block;
    background: url(../icons/loupe.svg) no-repeat center;
    cursor: pointer;
    height: 30px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    direction: ltr;
    width: 34px;
    min-width: 34px;
    border: none;
  }
  & .button.form-submit:hover,
  & .form-submit:hover,
  & .button.form-submit:focus,
  & .form-submit:focus {
    background: url(../icons/loupe2.svg) no-repeat center;
  }
}
