{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<html>
<head>
<style type="text/css">
table tr td {
  font-family: Arial;
  font-size: 12px;
}
</style>
</head>
<body>
  <style type="text/css">
    /*////// RESET STYLES //////*/
    p {
        margin: 1em 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 5px;
}
    p.newsletter-legal {
        margin: 1em 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 5px;
    }
    a.newsletter-unsubscribe {
      text-decoration: none;
      color:  #00aeef;
    }

    a {
        word-wrap: break-word;
    }

    table {
        border-collapse: collapse;
    }

    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin: 0;
        padding: 0;
    }

    img, a img {
        border: 0;
        height: auto;
        outline: none;
        text-decoration: none;
    }
    div.centred_box,
    span.centred_box,
    .article_image {
      margin-left: auto;
      margin-right: auto;
    }
    .article_image {
        width: 480px;
        height: 320px;
      	-webkit-box-shadow: 3px 3px 4px 2px lightgrey;
      	box-shadow: 3px 3px 4px 2px lightgrey;
   }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

  </style>



<div>
  <table width="95%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="font-size: 18px; line-height: 22px; text-align: left;  padding-top: 5px; padding-right: 10px; padding-bottom: 5px;        padding-left: 10px;">
        <div class="centred_box" style="width=95%;max-width:560px;margin-left:auto;margin-right:auto;">
          {{ body }}
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
